<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="wrap-letter">
    <template>
        <style>
            :host {
                display: block;
            }

            #wordContent {
                opacity: 0;

            }
        </style>
        <div id="wordContent">[[word]]</div>
        <button on-click="enter"></button>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class WrapLetterElement extends Polymer.Element {
            static get is() {
                return 'wrap-letter';
            }
            static get properties() {
                return {
                    chars: {
                        type: Array,
                        value: function () {
                            return ['$', '%', '#', '@', '&', '(', ')', '=', '*', '/'];
                        }
                    },

                    charsLength: {
                        type: Number,
                        value: 10,
                        readOnly: true
                    },

                    element: Object,
                    word: String,
                    letters: {
                        type: Array,
                        value: function () {
                            return [];
                        }
                    },
                    lettersLength: Number,

                    observer: Object,

                };
            }

            static get observers() {
                return ["_initWord(word)"];
            }

            _initWord(word) {
                charming(this.$.wordContent)
                this.letters = Array.from(this.$.wordContent.querySelectorAll('span'));
                this.letters.forEach(letter => letter.dataset.initial = letter.innerHTML);
                this.lettersLength = this.letters.length;
                // this.observer.observe(this);
            }

            getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

            enter(direction = 'down') {
                this.$.wordContent.style.opacity = 1;

                this.timeouts = [];
                this.complete = false;
                let cnt = 0;
                this.letters.forEach((letter, pos) => {
                    const timeout = setTimeout(() => {
                        letter.innerHTML = this.chars[this.getRandomInt(0, this.charsLength - 1)];
                        setTimeout(() => {
                            letter.innerHTML = letter.dataset.initial;
                            ++cnt;
                            if (cnt === this.lettersLength) {
                                this.complete = true;
                            }
                        }, 100);
                    }, pos * 80);
                    this.timeouts.push(timeout);
                });
            }

            exit(direction = 'down') {
                this.$.wordContent.style.opacity = 0;
                if (this.complete) return;
                for (let i = 0, len = this.timeouts.length; i <= len - 1; ++i) {
                    clearTimeout(this.timeouts[i]);
                }
            }
        }

        window.customElements.define(WrapLetterElement.is, WrapLetterElement);
    </script>
</dom-module>